

<div class="{{headerColor}}">
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-floppy-save"></span> {{headerTitle}}
    </h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <br/>
        <form name="pickPlanDetailForm">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Task:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="task" ng-model="pickPlanDetail.task" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">KgTarget:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="kgTarget" ng-model="pickPlanDetail.kgTarget" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Kg/Hour:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="kgPerHour" ng-model="pickPlanDetail.kgPerHour" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Source:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="source" ng-model="pickPlanDetail.source" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Start Time:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="startTime" ng-model="pickPlanDetail.startTime" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Finish Time:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" name="finishTime" ng-model="pickPlanDetail.finishTime" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Pickers:</label>
                <div class="col-sm-8 col-md-8">
                    <label ng-repeat="picker in pickers">
                        <input type="checkbox" data-checklist-model="pickPlanDetail.pickers" data-checklist-value="picker.$id" ng-required="pickPlanDetail.pickers.length == 0"> {{picker.nickName}} &nbsp;
                    </label>
                    <br/>
                    <input type="checkbox" ng-click="checkAll()" ng-checked="pickPlanDetail.pickers.length === pickers.length"> <strong>Select/Clear All</strong>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">Notes:</label>
                <div class="col-sm-8 col-md-8">
                    <textarea class="form-control" rows="3" id="notes" ng-model="pickPlanDetail.notes"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="{{buttonColor}}" ng-disabled="pickPlanDetailForm.$invalid" ng-click="save(pickPlanDetail)" id="size1"><span class="glyphicon glyphicon-ok"></span> {{buttonName}}</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" id="size2"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>
