<div>
    <h3>Picking Plan</h3>
</div>

<!--PickPlan List-->
<div ng-hide="isShowDatePlan === false">
    <div>
        <button class="btn btn-success" ng-click="addPickPlan()"><span class="glyphicon glyphicon-plus"></span> Create New Plan</button>
        <!--<a href="#!/plan/view" class="btn btn-success" role="button" ng-click="savePickPlan()"><span class="glyphicon glyphicon-plus"></span> Create New Plan</a>-->
    </div>
    <br />
    <div my-directive>
        <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
            <thead>
                <tr>
                    <th>Plan Date</th>


                    <th ng-if="width > 1000" style="width: 25%; text-align: center">Actions</th>
                    <th ng-if="width < 1000" style="width: 110px; text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pickPlan in pickPlans">
                    <td>{{pickPlan.planDate}}</td>
                    <td style="text-align: center">
                        <div ng-if="width > 1000">
                            <button class="btn btn-primary" type="button" ng-click="editPickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <!--<a href="#!/plan/view" class="btn btn-primary" role="button" ng-click="editPickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
                            <button class="btn btn-danger" type="button" ng-click="deletePickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                        </div>
                        <div ng-if="width < 1000">
                            <button class="btn btn-primary" type="button" ng-click="editPickPlan(pickPlan)"><span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger" type="button" ng-click="deletePickPlan(pickPlan)">
                                <span class="glyphicon glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="text-align: center"> {{message}} </p>
    <div class="bs-loading-container" bs-loading-overlay></div>
</div>




<!--PickPlan View-->
<div ng-hide="isShowDatePlan === true">
    <div>
        <form name="dateForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="fullDate"
                                   ng-model="pickPlan.planDate"
                                   placeholder="Choose Date First"
                                   name="PlanDate"
                                   is-open="status.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close"
                                   ng-change="saveDatePlan(pickPlan)"
                                   ng-readonly="true"/>
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-click="openCalendar($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="error" ng-show="dateForm.pickPlan.$touched && dateForm.pickPlan.$invalid">Date is required.</p>
            </div>

            <!--Hidden Field for PickPlan Id-->
            <input class="form-group" placeholder="PickPlanId" type="hidden" ng-model="pickPlan.id" ng-readonly="true"/>
        </form>
    </div>
    <div my-directive>
        <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Kgs Target</th>
                    <th>Kgs/Hour</th>
                    <th>Source</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Pickers</th>
                    <th>Notes</th>
                    <th style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pickPlanDetail in pickPlanDetails | filter : pickPlan.id">
                    <td>{{pickPlanDetail.task}}</td>
                    <td>{{pickPlanDetail.kgTarget}}</td>
                    <td>{{pickPlanDetail.kgPerHour}}</td>
                    <td>{{pickPlanDetail.source}}</td>
                    <td>{{pickPlanDetail.startTime}}</td>
                    <td>{{pickPlanDetail.finishTime}}</td>
                    <!--<td><label ng-repeat="picker in pickPlanDetail.pickers">{{picker}} &nbsp;</label></td>-->
                    <td>{{pickPlanDetail.pickers}}</td>
                    <td>{{pickPlanDetail.notes}}</td>
                    <td style="text-align: center">
                        <div ng-if="width > 1000">
                            <button class="btn btn-primary" type="button" ng-click="savePickPlanDetail(pickPlanDetail)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                            <button class="btn btn-danger" type="button" ng-click="deletePickPlanDetail(pickPlanDetail)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                        </div>
                        <div ng-if="width < 1000">
                            <button class="btn btn-primary" type="button" ng-click="savePickPlanDetail(pickPlanDetail)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button class="btn btn-danger" type="button" ng-click="deletePickPlanDetail(pickPlanDetail)">
                                <span class="glyphicon glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="text-align: center"> {{message}} </p>
    <div class="bs-loading-container" bs-loading-overlay></div>
    <div>
        <div>
            <button class="btn btn-default pull-right size2" ng-click="cancelPickPlan()"><span class="glyphicon glyphicon-remove"></span> Cancel</button> 
            <button type="button" class="btn btn-info hidden-print pull-right size1" ng-disabled="dateForm.$invalid"  ng-click="print()"><span class="glyphicon glyphicon-print"></span> Print</button>
            <button class="btn btn-success pull-right" ng-disabled="dateForm.$invalid" ng-click="savePickPlanDetail()"><span class="glyphicon glyphicon-plus"></span> Add Row</button>
        </div>
    </div>
</div>
