<div>
    <h3>Picking Plan</h3>
</div>
<div>
    <div>

        <a href="#!/plan/view"  class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus"></span> Create New Plan</a>
    </div>
    <br/>
    <div>
        <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
            <thead>
            <tr>
                <th>Plan Date</th>
                <th style="width: 20%; text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pickPlan in pickPlans | orderBy:'-planDate'">
                <td>{{pickPlan.planDate}}</td>
                <td style="text-align: center">
                    <div>
                        <a href="#!/plan/view"  class="btn btn-primary" role="button" ng-click="editPickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon-plus"></span> Edit</a>
                        <button class="btn btn-danger" type="button" ng-click="deletePickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>     
    </div>
</div>


