<div>
    <h3>Picking Plan</h3>
</div>
<div ng-hide="isShowDatePlan === false">
    <div>
        <button class="btn btn-success" ng-click="hideDatePlan()"><span class="glyphicon glyphicon-plus"></span> Create New Plan</button>
    </div>
    <br/>
    <div>
        <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
            <thead>
            <tr>
                <th>Plan Date</th>
                <th style="width: 20%; text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pickPlan in pickPlans">
                <td>{{pickPlan.PlanDate}}</td>
                <td style="text-align: center">
                    <div>
                        <button class="btn btn-primary" type="button" ng-click="savePickPlan(pickPlan)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button class="btn btn-danger" type="button" ng-click="delPickPlan($index)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-hide="isShowDatePlan === true">
    <div>
        <form name="dateForm">
            <div class="form-group">
                <div>
                    <div><button class="btn btn-success" ng-disabled="dateForm.$invalid" ng-click="addRow()"><span class="glyphicon glyphicon-plus"></span>  Add New Row</button></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   ng-model="pickPlan.PlanDate"
                                   placeholder="Choose Date First"
                                   name="PlanDate"
                                   is-open="status.opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close"
                                   ng-change="saveDatePlan(pickPlan)"
                                   ng-readonly="true" />
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-click="openCalendar($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="error" ng-show="dateForm.pickPlan.$touched && dateForm.pickPlan.$invalid">Date is required.</p>
            </div>
            <input class="form-group"
                   placeholder="PickPlanId"
                   @*type="hidden"*@
                   ng-model="pickPlan.id"
                   ng-readonly="true"/>
        </form>
    </div>
    <br />
    <div>
        <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
            <thead>
            <tr>
                <th>Task</th>
                <th>Kgs Target</th>
                <th>Kgs/Hour</th>
                <th>Source</th>
                <th>Start Time</th>
                <th>Finish Time</th>
                <th>Pickers</th>
                <th>Notes</th>
                <th style="text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pickPlanDetail in pickPlanDetails">
                <td>{{pickPlanDetail.Task}}</td>
                <td>{{pickPlanDetail.KgTarget}}</td>
                <td>{{pickPlanDetail.KgHour}}</td>
                <td>{{pickPlanDetail.Source}}</td>
                <td>{{pickPlanDetail.StartTime}}</td>
                <td>{{pickPlanDetail.FinishTime}}</td>
                <td>{{pickPlanDetail.Pickers}}</td>
                <td>{{pickPlanDetail.Notes}}</td>
                <td style="text-align: center">
                    <div>
                        <button class="btn btn-primary" type="button" ng-click="savePickPlan(pickPlanDetail)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button class="btn btn-danger" type="button" ng-click="delPickPlan($index)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-default" ng-click="showDatePlan()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>


