<div>
    <h3>Tasks/ Products</h3>
</div>
<div>
    <div>
        <button class="btn btn-success" ng-click="saveTask()"><span class="glyphicon glyphicon-plus"></span> Add Task</button>
    </div>
</div>
<br />
<div my-directive>
    <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
        <thead>
        <tr>
            <th>Task/ Product</th>
            <th>Pick Rate</th>
            <th ng-if="width > 1000" style="width: 25%; text-align: center">Actions</th>
            <th ng-if="width < 1000" style="width: 110px; text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks| orderBy : 'taskName'">
            <td>{{task.taskName}}</td>
            <td>{{task.pickRate}}</td>
            <td style="text-align: center">
                <div ng-if="width > 1000">
                    <button class="btn btn-primary" type="button" ng-click="saveTask(task)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button class="btn btn-danger" type="button" ng-click="deleteTask(task)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                </div>
                <div ng-if="width < 1000">
                    <button class="btn btn-primary" type="button" ng-click="saveTask(task)"> <span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger" type="button" ng-click="deleteTask(task)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p style="text-align: center"> {{message}} </p> 
<div class="bs-loading-container" bs-loading-overlay ></div>


