
<div class="row">
    <h3>Add Picker</h3>
    <form ng-submit="addPicker()">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="picker.FirstName" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="picker.LastName" placeholder="Last Name"/>
        </div>
        <div class="form-group">
            <label>Nick Name</label>
            <input type="text" class="form-control" ng-model="picker.NickName" placeholder="Nick Name"/>
        </div>

        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
