<div>
    <h3>Pickers</h3>
</div>
<div>
    <div>
        <button class="btn btn-success" ng-click="savePicker()"><span class="glyphicon glyphicon-plus"></span> Add Picker</button>
    </div>
</div>
<br />
<div my-directive>
    <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th ng-if="width > 1000">NickName</th>
                <th ng-if="width > 1000" style="width: 15%; text-align: center">Action</th>
                <th ng-if="width < 1000" style="width: 80px; text-align: center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="picker in pickers">
                <td ng-click="savePicker(picker)">{{picker.FirstName}}</td>
                <td ng-click="savePicker(picker)">{{picker.LastName}}</td>
                <td ng-if="width > 1000" ng-click="savePicker(picker)">{{picker.NickName}}</td>
                <td style="text-align: center">
                    <div ng-if="width > 1000">                      
                        <button class="btn btn-danger" type="button" ng-click="deletePicker($index)"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                    <div ng-if="width < 1000">
                        <button class="btn btn-danger" type="button" ng-click="deletePicker($index)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


