

<div class="{{headerColor}}">
    <h3 class="modal-title">
        <span class="glyphicon glyphicon-floppy-save"></span> {{headerTitle}}
    </h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <br/>
        <form name="pickerForm">
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">FirstName:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" placeholder="FirstName" name="firstName" ng-model="picker.firstName" autofocus ng-minlength="2" ng-maxlength="25" required />
                    <p class="error" ng-show="pickerForm.firstName.$touched && pickerForm.firstName.$invalid">FirstName is required.</p>
                    <p class="error" ng-show="pickerForm.firstName.$error.minlength">FirstName is too short.</p>
                    <p class="error" ng-show="pickerForm.firstName.$error.maxlength">FirstName is too long.</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">LastName:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" placeholder="LastName" name="lastName" ng-model="picker.lastName" ng-minlength="2" ng-maxlength="25" required/>
                    <p class="error" ng-show="pickerForm.lastName.$touched && pickerForm.lastName.$invalid">LastName is required.</p>
                    <p class="error" ng-show="pickerForm.lastName.$error.minlength">LastName is too short.</p>
                    <p class="error" ng-show="pickerForm.lastName.$error.maxlength">LastName is too long.</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 control-label set-right">NickName:</label>
                <div class="col-sm-8 col-md-8">
                    <input type="text" class="form-control" placeholder="NickName" name="nickName" ng-model="picker.nickName" ng-minlength="2" ng-maxlength="15" required/>
                    <p class="error" ng-show="pickerForm.nickName.$touched && pickerForm.nickName.$invalid">NickName is required.</p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="{{buttonColor}}" ng-disabled="pickerForm.$invalid" ng-click="save(picker)" id="size1"><span class="glyphicon glyphicon-ok"></span> {{buttonName}}</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" id="size2"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</div>
