<div>
    <h1>Pickers</h1>
</div>
<div>
    <div>
        <button class="btn btn-success" ng-click="savePicker()"><span class="glyphicon glyphicon-plus"></span> Add Picker</button>
    </div>
</div>
<br/>
<div my-directive>
    <table class="table table-bordered table-hover table-striped " style="table-layout: auto">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th ng-if="width > 1000">NickName</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="picker in pickers">
            <td>{{picker.FirstName}}</td>
            <td>{{picker.LastName}}</td>
            <td ng-if="width > 1000">{{picker.NickName}}</td>
            <td>
                <div ng-if="width > 1000">
                    <button class="btn btn-primary" type="button" ng-click="savePicker(picker)" style="width: 40%"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button class="btn btn-danger" type="button" ng-click="deletePicker($index)" style="width: 40%"><span class="glyphicon glyphicon glyphicon-trash"></span> Delete</button>
                </div>
                <div ng-if="width < 1000">
                    <button class="btn btn-primary" type="button" ng-click="savePicker(picker)"> <span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger" type="button" ng-click="deletePicker($index)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>



